:root {
  --mainColor: #F2E99A;
  --secondaryColor: #AFA869;
}

@font-face {
  font-family: mainFont;
  src: url(/assets/Rabar_021.ttf);
}
@font-face {
  font-family: secondaryFont;
  src: url(/assets/Rabar_022.ttf);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f0d05c #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0d05c;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

* *::after *::before {
  clear: both;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: secondaryFont;
  overflow-x: hidden;
}

h1 {
  font-family: secondaryFont;
  font-size: 46px;
  line-height: 1em;
}

p {
  font-family: secondaryFont;
  font-size: 20px;
  line-height: 30px;
}

.container {
  padding: 1em 5em;
}

.logo {
  width: 120px;
}

.navbar .container {
  display: flex;
  place-content: space-between;
  align-items: center;
}

.vesbo-logo img {
  width: 140px;
  margin-top: -5px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.1s linear;
}

nav a:hover {
  color: var(--secondaryColor);
}

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.landing h1 {
  margin: 0;
  padding: 0;
}

.landing p {
  margin: 0;
  margin-bottom: 1em;
}

.mainBtn {
  text-decoration: none;
  padding: 0.5em 2em;
  background-color: var(--mainColor);
  border-radius: 50px;
  color: black;
}

.incola-trio-showcase {
  margin: auto;
  align-items: center;
  text-align: center;
}
.incola-trio-showcase h1 {
  font-size: 32px;
  margin: 0;
}
.incola-trio-showcase p {
  font-size: 18px;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.nrx {
  padding: 0.5em 2em;
  text-decoration: none;
  color: black;
  background-color: var(--mainColor);
  border-radius: 50px;
}

.catalog {
  padding: 0.5em 1.5em;
  border: solid 2px var(--secondaryColor);
  border-radius: 50px;
  color: var(--secondaryColor);
  text-decoration: none;
}

.incola-trio-specs {
  display: flex;
  place-content: space-between;
}
.incola-trio-specs .specs ul {
  margin-top: 100px;
}
.incola-trio-specs .incola-pipe-img img {
  width: 600px;
}

.seperator {
  background-color: #f0d05c;
  height: 3px;
  width: 100vw;
  margin-bottom: 2em;
}

.footer-container {
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: rgb(35, 35, 35);
  width: 100vw;
  color: white;
}
.footer p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.footer ul li {
  display: inline-block;
}
.footer a {
  text-decoration: none;
  color: white;
  margin: 0.5em 2em;
}

@media all and (max-width: 500px) {
  .vesbo-logo img {
    display: none;
  }
  nav {
    display: none;
  }
  .navbar .container {
    display: block;
  }
  .logo {
    display: block;
    margin: 0 auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .landing {
    margin-top: 100px;
  }
  .landing .container {
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
  .landing h1 {
    font-size: 3em;
  }
  .landing p {
    font-size: 1em;
  }
  .trio .container {
    display: block;
  }
  .incola-trio-showcase p {
    font-size: 14px;
  }
  .incola-trio-showcase br {
    display: none;
  }
  .incola-trio-specs {
    display: block;
    text-align: center;
  }
  .incola-trio-specs .specs ul {
    padding: 0;
  }
  .incola-trio-specs .specs li {
    font-size: 14px;
    list-style-type: none;
  }
  .incola-trio-specs .incola-pipe-img img {
    width: 500px;
    display: block;
    position: relative;
    left: 120px;
  }
}/*# sourceMappingURL=main.css.map */